@import url('https://fonts.googleapis.com');
body {
    width: 100%; 
    height: 100%; 
    margin: 0px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
ul,
span,
p,
blockquote,
dd {
    margin: 0px;
    padding: 0px;
}

ul {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}