#pesquisa {
    display: flex;
    justify-content: space-between;
    border: 2px solid #000000;
    width: 710px;
    padding: 12px 18px;
    border-radius: 11px;
    box-shadow: 0px 5px 0px #000000;
    margin-bottom: 25px;
}

#pesquisa-btn {
    background-color: transparent;
    border: none;
    outline: none;
}

input {
    border: none;
    outline: none;
}

.filtros span {
    display: flex;
    align-items: center;
}

.tags img {
    padding: 0px;
}

.filtrar img, p {
    padding-right: 5px;
}